
<div class="main-card">
  <!-- <img src="../assets/illustration-woman-online-desktop.svg" alt="woman-illustration"> -->
  <div class="illustrations-area">
    <div class="illustration">
      <img class="shadow-illustration" src="../assets/bg-pattern-desktop.svg" alt="shadow" />
      <img class="woman-illustration" src="../assets/illustration-woman-online-desktop.svg" alt="illustration" />
    </div>
  </div>
  <div class="accordian-info-area">
    <h1>FAQ</h1>
    <button class="accordion">Section 1</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
  </div>
</div>
