
<div class="main-card">
  <!-- <img src="../assets/illustration-woman-online-desktop.svg" alt="woman-illustration"> -->
  <div class="illustrations-area">
    <div class="illustration">
      <img class="shadow-illustration" src="../assets/bg-pattern-desktop.svg" alt="shadow" />
      <img class="woman-illustration" src="../assets/illustration-woman-online-desktop.svg" alt="illustration" />
    </div>
  </div>
  <div class="accordian-info-area">
    <h1>FAQ</h1>
    <button class="accordion">How many team members can I invite?</button>
    <div class="panel">
      <p>You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
    </div>
    <button class="accordion">What is the maximum file upload size?</button>
    <div class="panel">
      <p>No more than 2GB. All files in your account must fit your allotted storage space.
    </div>
  </div>
</div>
